h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

body > article.main {
  margin: 0 auto;
  width: 800px;
}

nav > a + a {
  padding-left: 10px;
}

#comment_etalon {
  display: none;
}

#container_comments {
  box-sizing: border-box;
  margin: 40px 100px 0;

  .my_container {
    box-sizing: border-box;

    > .item {
      box-sizing: border-box;
      padding: 20px 0;
      box-sizing: border-box;
      border-bottom: 1px dotted #999;
    }

    > .page {
      border-top: 2px dotted #999;
    }
  }

  form#add_comment {
    margin: 40px;

    .not_valid {
      border: 1px solid red;
    }
  }
}