<figure id="comment_etalon">
    <div class="item">
        <p><em class="date"></em> <strong class="user_name"></strong></p>
        <p class="user_comment"></p>
        <p class="file" style="display: none"><a href="#" target="_blank"></a></p>
    </div>
</figure>