<form id="add_comment" enctype="multipart/form-data" action="/ajax.php" method="post" class="form-horizontal">
    <h5>Add Comment</h5>
    <div class="form-group">
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
            <input name="name" type="text" class="form-control" placeholder="Jon Dou">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Comment</label>
        <div class="col-sm-9">
            <textarea name="comment" class="form-control" rows="3"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Check File</label>
        <div class="col-sm-3">
            <label class="btn btn-default btn-file btn-info">
                Browse <input name="file" type="file" style="display: none;">
            </label>
        </div>
        <div class="col-sm-6"><span class="file_name"></span></div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-success btn-lg">Send</button>
        </div>
    </div>
</form>