<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="/web/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/web/style.min.css" rel="stylesheet" type="text/css" />
    <script src="/web/jquery.min.js"></script>
    <script src="/web/bootstrap.min.js"></script>
    <script src="/web/script.min.js"></script>
</head>
<body data-pageid="{{ id }}" data-ishome="1">
<article class="main">
    <nav>
    {% for item in menu %}
        <a href="/{{ item.url }}">{{ item.header }}</a></li>
    {% endfor %}
    </nav>

    <figure id="container_comments">
        <h3>Comments:</h3>
        <div class="my_container">
        </div>
    </figure>

    {% include 'comment_etalon.twig' %}
    {% include 'home_pages_url.twig' %}
</article>


</body>
</html>